* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* The above various header class specifications set the font size, font type, background color, size,
   and positioning of the header itself, and the linked elements of the navbar. */

a {
    color: #ffffff;
    text-decoration: none;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* the .hero class sets up the size and positioning of the main header image. */

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.content-specify {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.content-specify img {
    max-height: 200px;
}

.content-specify h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* The content and content-specify classes are used for the main section of the page. There are blocks of text,
    headings, and images that are all set in font, font size, actual size, and positioning by these classes. */

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* float left and float right set where the image will sit in relation to the block of text in the main section. */

p {
    font-size: 16px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-all {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-all h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-all img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* The benefits and benefit-all classes are used for the aside portion of the page. It has images, headings,
    and blocks of text just like the main section. These classes set font, font size, actual size, and positioning. */

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* The footer class sets the font, font size, and positioning of the message and copyright message at the bottom 
    of the page. */

.footer h4 {
    font-size: 20px;
}